@charset "utf-8";
/* CSS Document */
body,ul,li,ol,dl,dd,dt,tr,td,div,span,a,img,p,h1,h2,h3,h4,h5,h6{
    margin:0;
    padding:0;
}
ul li em , .news_con h3 em{
    font-style: inherit;
}
.disnon1{
    visibility:hidden;
    height:0
}
body{
    font-family:"微软雅黑","Microsoft YaHei",Arial;
    color:#000;
    font-size:14px;

    /*background:url(../images/bg.gif) repeat*/
}
ul,li{
    list-style:none;
}
a{
    text-decoration:none;
    blr:expression(this.onFocus=this.blur());
    outline:none
}
img{
    border:0;
}
.song{
    font-family:'simsun';
}
.yahei{
    font-family:"Microsoft YaHei";
}
.Ver{
    font-family:Verdana
}
.Vri{
    font-family:Vrinda;
    color:#999
}
.Geo{
    font-family:Georgia
}
.font11{
    font-size: 11px;
    font-family: Arial
}
.font48{
    font-size: 48px;
    font-family: Impact
}
.font12{
    font-size:13px;
}
.font14{
    font-size:14px;
}
.font15{
    font-size:15px;
}
.font16{
    font-size:16px;
}
.font18{
    font-size:18px;
}
.font20{
    font-size:20px;
}
.font24{
    font-size:24px;
}
.font30{
    font-size:30px;
}
.font36{
    font-size:36px;
}
.mg5{
    margin:5px;
}
.mg10{
    margin:10px;
}
.mg15{
    margin:15px;
}
.mg20{
    margin:20px;
}
.mgt0{
    margin-top:0px;
}
.mgb0{
    margin-bottom:0px;
}
.mgl0{
    margin-left:0px;
}
.mgr0{
    margin-right:0px;
}
.mgt5{
    margin-top:5px;
}
.mgb5{
    margin-bottom:5px;
}
.mgl5{
    margin-left:5px;
}
.mgr5{
    margin-right:5px;
}
.mgt10{
    margin-top:10px;
}
.mgb10{
    margin-bottom:10px;
}
.mgl10{
    margin-left:10px;
}
.mgr10{
    margin-right:10px;
}
.mgt15{
    margin-top:15px;
}
.mgb15{
    margin-bottom:15px;
}
.mgl15{
    margin-left:15px;
}
.mgr15{
    margin-right:15px;
}
.mgt20{
    margin-top:20px;
}
.mgb20{
    margin-bottom:20px;
}
.mgl20{
    margin-left:20px;
}
.mgr20{
    margin-right:20px;
}
.mgl40{
    margin-left:40px;
}
.mgr40{
    margin-right:40px;
}
.mgt40{
    margin-top:40px;
}
.mgb40{
    margin-bottom:40px;
}
.mgr25{
    margin-right:25px
}
.pd5{
    padding:5px;
}
.pd10{
    padding:10px;
}
.pd15{
    padding:15px;
}
.pd20{
    padding:20px;
}
.pd40{
    padding:40px
}
.pdt5{
    padding-top:5px;
}
.pdb5{
    padding-bottom:5px;
}
.pdl5{
    padding-left:5px;
}
.pdr5{
    padding-right:5px;
}
.pdt10{
    padding-top:10px;
}
.pdb10{
    padding-bottom:10px;
}
.pdl10{
    padding-left:10px;
}
.pdr10{
    padding-right:10px;
}
.pdt15{
    padding-top:15px;
}
.pdb15{
    padding-bottom:15px;
}
.pdl15{
    padding-left:15px;
}
.pdr15{
    padding-right:15px;
}
.pdt20{
    padding-top:20px;
}
.pdb20{
    padding-bottom:20px;
}
.pdl20{
    padding-left:20px;
}
.pdr20{
    padding-right:20px;
}
.pd30{
    padding:30px
}
.pdt40{
    padding-top:40px;
}
.pdb40{
    padding-bottom:40px;
}
.pdl40{
    padding-left:40px;
}
.pdr40{
    padding-right:40px;
}
.mgOauto{
    margin:0 auto;
}
.w1150{
    width:1150px;
}
.w1000{
    max-width:1000px;
}
.w990{
    max-width:990px;
}
.w600{
    width:600px
}
.w760{
    max-width:760px;
}
.w1000{
    width:100%;
}
.w1100{
    width:1100px;
}
.w1160{
    width:1160px;
}
.w1320{
    max-width:1320px;
}
.w100{
    width:100%;
}
.h100{
    height:100%
}
.clearfix{
    *zoom:1;
}
.fl{
    float:left;
}
.fr{
    float:right;
}
.text-center{
    text-align:center;
}
.text-right{
    text-align:right;
}
.text-left{
    text-align:left;
}
.font-n{
    font-style:normal;
}
.font-w{
    font-weight:normal;
}
a{
    color:#000;
}
a:hover{
    color:#e20400;
}
.disnon{
    display:none;
}
.disblk{
    display:block;
}
.disInBlk{
    display:inline-block;
}
.pos_rel{
    position:relative;
}
.hidden{
    overflow:hidden
}
.white,
.white a:link,
.white a:visited,
.white a:hover{
    color:#ffffff;
}
.red,
.red a:link,
.red a:visited,
.red a:hover{
    color:#d92828;
}
.grey,
.grey a:link,
.grey a:visited{
    color:#000;
}
.grey a:hover{
    color:#d92828;
}

.blur{
    filter: url(blur.svg#blur);
    -webkit-filter: blur(3px);
    -moz-filter: blur(3px);
    -ms-filter: blur(3px);
    filter: blur(3px);
    filter: progid:DXImageTransform.Microsoft.Blur(PixelRadius=3, MakeShadow=false);
    *filter:none
}
.shadow1{
    box-shadow:0 1px 3px #999;
    -moz-box-shadow:0 1px 3px #999;
    -webkit-box-shadow:0 1px 3px #999;
    -o-box-shadow:0 1px 3px #999;
}
.bg_ff{
    background-color:#fff
}
.cur01{
    font-weight:bold;

}
.grey a.cur01{
    color:#1777ce
}